body {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
}
.header {
	height: 100px;
	width: 100%;
	background: #123456;
}
.form {
	box-shadow: 10px 10px 54px 0px rgba(0, 0, 0, 0.57);
	border-radius: 25px;
	height: 275px;
	width: 400px;
	background-color: white;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.Title {
	font-family: 'Montserrat', sans-serif;
	color: #000;
	text-align: center;
	margin-top: 30px;
	position: relative;
	font-size: 35px;
	user-select: none;
}
.insert {
	text-align: center;
}
hr {
	width: 260px;
	color: #c6c6c6;
	padding: 0px;
	position: relative;
	margin-top: -7px;
	margin-left: 70px;
}
input {
	border-radius: 10px;
	margin: 10px;
	padding: 5px;
	width: 250px;
	border: none;
	color: black;
	position: relative;
	outline: none;
}
.button {
	color: black;
	font-size: 13px;
	font-weight: bold;
	font-family: Helvetica, sans-serif;
	padding: 5px;
	width: 170px;
	height: 30px;
	border-radius: 10px;
	color: #fff;
	border: none;
	background-size: 200%;
	background-image: linear-gradient(120deg, #7678ed, #1d4377, rgb(107, 1, 168));
	transition: 0.6s;
	position: relative;
	margin-top: 15px;
}

.button:focus {
	outline: none;
}

.button:hover {
	background-position: right;
	transition: 0.6s;
	cursor: pointer;
	outline: none;
}

.cadastrar {
	font-size: 15px;
}
.cadastroEnfase {
	color: rgb(93, 70, 226);
	transition: 0.6s;
}
.cadastroEnfase a {
	text-decoration: none;
}
.cadastroEnfase:hover {
	cursor: pointer;
	color: rgb(51, 33, 150);
	text-decoration: underline;
}
