/*Scroll part*/
html {
	scroll-behavior: smooth;
}

body {
	background: white;
}

.s-bar {
	position: absolute;
	display: block;
	top: 50%;
	left: 99%;
	transform: translate(-50%, -50%);
	position: fixed;
	transform: translateX(5px);
	transition: 0.6s;
}

.s-bar:hover {
	transform: translateX(-10px);
}

.scroll {
	border: none;
	background: bisque;
	width: 15px;
	height: 30px;
	margin: 8px;
	cursor: pointer;
	transition: 0.8s;
}

.scroll:hover {
	transition: 0.8s;
	background: black;
}
